@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Marty strona do wspomagania zarządzania domową biblioteką</h1>
    
</div>

<br />
@*
asp-controller="" asp-action="Index"
*@
<form>
    <div class="col-lg-12"> qr code string</div>
    <br/>
    <div class="col-lg-12">
        <input type="text" name="QRCodeString" id="QRCodeString" class="form-control"/>
    </div>
    <br/>
    <br/>
    <div class="col-lg-12">
        <input type="submit" value="Generate qrcode" class="btn btn-primary"/>
    </div>
    <br/>
    <br/>
</form>

@if(!string.IsNullOrEmpty(ViewData["URL"] as string))
{
    <div class="col-lg-12">
        <img src="@ViewData["URL"]" />
    </div>
}


@*<div>
    <video id="video" width="640" height="480" autoplay></video>
</div>



  <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>

<script>
    // Funkcja obsługująca skanowanie kodów kreskowych
    function startBarcodeScanner() {
        const video = document.getElementById('video');
        const canvas = document.createElement('canvas');
        const canvasContext = canvas.getContext('2d');

        // Inicjalizacja czytnika
        ZXing.stream(video, 640, 480, (err) => {
            if (err) {
                console.error('Błąd podczas inicjalizacji czytnika: ', err);
                return;
            }
            console.log('Czytnik kodów kreskowych gotowy do pracy.');

            // Rozpoczęcie skanowania
            scanBarcode();
        });

        // Funkcja skanująca kod kreskowy
        function scanBarcode() {
            canvasContext.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvasContext.getImageData(0, 0, canvas.width, canvas.height);
            const code = ZXing.decode(imageData);
            if (code) {
                console.log('Zeskanowany kod kreskowy: ', code);
                // Tutaj możesz zrobić coś z zeskanowanym kodem, np. przekazać go do kontrolera za pomocą AJAX, przetworzyć go itp.
            }

            // Wykonaj skanowanie ponownie
            requestAnimationFrame(scanBarcode);
        }
    }

    // Uruchom czytnik po załadowaniu widoku
    document.addEventListener('DOMContentLoaded', startBarcodeScanner);
</script>*@


@*@if(!string.IsNullOrEmpty(ViewBag.URL))
{
    <div class="col-lg-12">
        <img src="@ViewBag.URL" />
    </div>
}*@